header {
  display: flex;
  justify-content: center; /* Center the header content */
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap; /* Allow elements to wrap if there's not enough space */
}

header h1 {
  margin: 0;
  font-size: 28px;
  flex-basis: 100%; /* Make the header title take full width */
  text-align: center;
}

header input {
  width: 80%; /* Make the search input larger, but still responsive */
  max-width: 500px; /* Limit maximum size of the input */
  margin-top: 10px;
  padding: 10px;
  
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px;
  margin-top: 10px; /* Add space above the buttons */
  width: 100%; /* Make button container full width */
}

.button {
  padding: 10px 20px;
  background-color: #b00b6e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  padding: 40px;
  text-align: center; /* Center-align main content text */
}

